.contact-new-container {
  padding: 10% 40%;
}

.contact-new-text {
  text-align: center;
  margin-bottom: 44px;
  h4 {
    font-size: 24px;
  }
}

@media screen and (max-width: 1150px) {
  .contact-new-container {
    padding: 20%;
  }
  .contact-new-text {
    margin-bottom: 32px;
    h4 {
      font-size: 16px;
    }
  }
  .required {
    font-size: 12px;
  }
}


@media screen and (max-width: 750px) {
  .contact-new-container {
    padding: 40% 10% 10% 10%;
  }
  .contact-new-text {
    margin-bottom: 32px;
    h4 {
      font-size: 16px;
    }
  }
  .required {
    font-size: 12px;
  }
}
