.contact-new-container {
  padding: 130px 25%;
}

.contact-new-text {
  text-align: center;
  margin-bottom: 44px;
  h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1150px) {
  .contact-new-text {
    margin-bottom: 24px;
    h4 {
      font-size: 18px;
    }
  }
}


@media screen and (max-width: 750px) {
  .contact-new-container {
    padding: 110px 10% 0 10%;
  }
  .contact-new-text {
    margin-bottom: 32px;
    h4 {
      font-size: 16px;
    }
  }
  .required {
    font-size: 12px;
  }
}
