.dashboard-container {
  padding: 80px 10% 10% 10%;
}

.dashboard-title {
  h1 {
    text-align: center;
    font-weight: 300;
  }
}

.dashboard-selection {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.dashboard-selection-button {
  font-size: 20px;
  margin: 12px;
  width: 100px;
  text-align: center;
  padding: 8px;
  &:hover {
    cursor: pointer;
  }
}

.active {
  border-bottom: 2px solid $white;
  animation-delay: .2s;
}

.dashboard-hidden {
  display: none;
}

@media screen and (max-width: 740px) {
  .dashboard-container {
    padding-top: 100px;
  }
  .dashboard-title h1 {
    font-size: 28px;
    margin: 0;
  }
}
