.dashboard-container {
  padding: 80px 10% 0 10%;
}

.dashboard-title {
  h1 {
    text-align: center;
    font-weight: 300;
  }
}

.dashboard-selection {
  justify-content: center;
  display: flex;
}

.dashboard-selection-button {
  font-size: 20px;
  margin: 12px;
  width: 100px;
  text-align: center;
  padding: 8px;
  &:hover {
    cursor: pointer;
  }
}

.active {
  border-bottom: 2px solid $white;
  animation-delay: .2s;
}

.dashboard-hidden {
  display: none;
}
