// Specific CSS for your home-page
.home-page-container {
  height: 100vh;
  width: 100%;
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
  url('background-test.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

.home-page-content {
  width: 100%;
  h1 {
    font-weight: 300;
    text-shadow: 0 0 4px black;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.home-page-content h1 {
  animation: 1s ease-out 0s 1 slideInLeft;
}
