<div class="shop-page-container">
  <div class="articles-container">
    <% @articles.each do |article| %>
      <% unless article.quantity < 1 %>
        <%= render 'article_card', article: article %>
      <% end %>
    <% end %>
  </div>
</div>
