<div class="footer-right">

  <a href="https://www.facebook.com/odahiltattoo/" target="_blanck"><i class="fab fa-facebook"></i></a>
  <a href="https://www.instagram.com/odahil/" target="_blanck"><i class="fab fa-instagram"></i></a>
  <%# <a href="#"><i class="fab fa-linkedin"></i></a> %>
  <a href="contacts/new"><i class="fas fa-envelope"></i></a>

</div>

<div class="footer-left">

  <p class="footer-links">
    <a  class="link-1" href="/">Accueil</a>
    <a href="/tattoos">Gallerie</a>
    <a href="/arts">Artworks</a>
    <a href="/pages/shop">Shop</a>
    <a href="contacts/new">Contact</a>
  </p>

  <%= link_to "https://www.linkedin.com/in/fabrice-tui", target:"_blanck",  id:"dev-link" do %>
    <p>Fab Web Design &copy; 2022</p>
  <% end %>
</div>
