<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><%= image_tag ("image-1.jpg") %></div>
    <div class="swiper-slide"><%= image_tag ("image-2.jpg") %></div>
    <div class="swiper-slide"><%= image_tag ("image-3.jpg") %></div>
    <div class="swiper-slide"><%= image_tag ("image-4.jpg") %></div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
