<div class="swiper-container">
  <div class="swiper-wrapper">
    <% @tattoos = Tattoo.all %>
    <% @tattoos.each do |tattoo| %>
      <% if tattoo.photos.first && tattoo.on_home_slider %>
      <div class="swiper-slide">
        <%= cl_image_tag tattoo.photos.first.key, crop: :fill %>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
