<div class="menu">

  <a href="#navigation" class="nav-trigger">
    <span></span>
  </a>

<nav class="nav-container" id="navigation">
  <div class="sign-in-link">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fas fa-sign-in-alt hidden-link"></i>
        <% end %>
      <% end %>
    </div>
  <%# <header>
    <h2></h2>
  </header> %>

  <ul class="nav">
    <li class="link-line"><a href="#0">Portfolio</a></li>
    <li class="link-line"><a href="#0">Gallery</a></li>
    <li class="link-line"><a href="#0">Contact</a></li>
    <% if user_signed_in? %>
      <li class="link-line"><%= link_to 'Admin', tattoos_path %></li>
    <% end %>
  </ul>
</nav>

<div class="overlay"></div> <!-- improve main element 3d movement -->
</div>
