<div class="menu">
<a href="#navigation" class="nav-trigger">
  Menu <span></span>
</a>

<nav class="nav-container" id="navigation">
  <%# <header>
    <h2></h2>
  </header> %>

  <ul class="nav">
    <li class="link-line"><a href="#0">Portfolio</a></li>
    <li class="link-line"><a href="#0">Gallery</a></li>
    <li class="link-line"><a href="#0">Contact</a></li>
    <% if user_signed_in? %>
      <li class="link-line"><a href="#0">Admin</a></li>
    <% end %>
  </ul>
</nav>

<div class="overlay"></div> <!-- improve main element 3d movement -->
</div>
