<div class="home-logo">
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= image_tag ("test-logo0.jpg") %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <%= image_tag ("test-logo0.jpg") %>
    <% end %>
  <% end %>
</div>
