<div class="home-logo">
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>
  <% end %>
</div>
