<% @tattoos.each do |tattoo| %>
  <div class="tattoo-card">
    <div class="tattoo-card-image lightbox-img">
      <%= cl_image_tag tattoo.photos.first.key, crop: :fill, id:"tattoo-list-picture" %>
    </div>
  </div>
<% end %>
