<div class="index-tattoo-container">
  <div class="tattoo-card-container">
    <%= render 'index_tattoo_card' %>
  </div>
</div>

<%# <div class="preview-box">
  <div class="details">
    <div class="details-title"></div>
    <span class="details-icon fas fa-times"></span>
  </div>
  <div class="image-box">
    <img src="" alt="">
  </div>
</div>
<div class="shadow"></div> %>
