
<div class="index-tattoo-container">


<% if @styles.count.positive? %>
  <div class="filter-button">
    <i class="fa fa-filter"></i>
    <h5>Filtrer</h5>
  </div>
  <div class="filter-container hide-filter">
    <% @styles.each do |style| %>
      <h3 class="style-button"><%= style %></h3>
    <% end %>
  </div>
<% end %>

  <div class="tattoo-card-container">
    <% @tattoos.each do |tattoo| %>
      <%= cache tattoo do %>
        <% if tattoo.photos.count.positive? && tattoo.photos.first.key %>
          <%= render 'index_tattoo_card', tattoo:tattoo %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
