<div class="shop-page-container">

  <h1>Votre achat pour un montant de <%= @order.amount %>€ est validé</h1>

  <h1>Merci!</h1>
  <br>
  <%= link_to 'Retour', root_path, class:'btn btn-custom' %>
</div>
