<div class="profile-content">
  <div class="profile-content-text">
    <h2>Le collectif d’artistes, présent au sein de l’Atelier Krysalid, propose un espace de coworking pour artistes et professionnels ayant besoin d’un lieu pour travailler le temps d’une journée, d’une semaine ou même d’un mois. Sur une base forfaitaire, les artistes vous donnent accès à l’Atelier, aux fournitures et consommables déjà présents sur place, ainsi qu’à Internet.</h2>
  </div>
  <%= image_tag "krisalid5.jpg", class:"profile-picture align-right slide-in" %>
</div>
