<div class="profile-content">
  <%= image_tag "krisalid2.jpg", class:"profile-picture align-left slide-in", id:"image-krisalid" %>
  <div class="profile-content-text">
    <h2>Les artistes, de l’Atelier Krysalid, sont principalement artistes – tatoueurs. Pour pratiquer leur art dans les meilleures conditions, l’Atelier est principalement un salon privé, où l’accès devient réservé pour les clients de nos artistes – résidents.</h2>
  </div>
</div>
