<div id="insta-display" class="swipper-hidden"></div>

<div class="swiper swiper-container insta-swiper-container">
  <div class="swiper-wrapper insta-swiper">
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
