<div class='insta-container'>
  <% @tattoos = Tattoo.last(3) %>
  <% @tattoos.each do |tattoo| %>
    <div class='insta-content'>
      <%= cl_image_tag tattoo.photos.first.key, crop: :fill, id:"tattoo-list-picture" %>
    <div class="insta-details-logo">
      <%= link_to "https://www.instagram.com/odahil", target:"_blank" do %>
        <i class="fab fa-instagram"></i>
      <% end %>
    </div>
    <div class="insta-details-likes">
      <div class="insta-details-like-items">
        <%= link_to "https://www.instagram.com/odahil", target:"_blank" do %>
          <i class="fas fa-heart"></i>
        <% end %>
      </div>
    </div>
    </div>
  <% end %>
</div>
