<div class="dashboard-container">
  <div class="dashboard-title">
    <h1>ADMIN DASHBOARD</h1>
  </div>
  <div class="dashboard-selection">
    <div class="dashboard-selection-tattoos">Tattoos</div>
    <div class="dashboard-selection-tattoos">Arts</div>
  </div>
  <div class="dashboard-actions">
    <%= link_to "Ajouter un nouveau tattoo", new_tattoo_path, class:'btn btn-primary' %>
    <%= link_to "Ajouter un nouveau dessin", new_art_path, class:'btn btn-primary' %>
  </div>
<%= render 'dashboard_tattoos_list' %>
<%= render 'dashboard_arts_list' %>

</div>
