<div class="home-page-container">
  <div class="home-page-content">
    <h1 id="home-title">ODAHIL TATTOO</h1>
  </div>
</div>
<div id='insta'></div>
<%= render 'shared/home_profile' %>

<%# <%= render 'shared/home_swiper' %> %>
<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>
