.odahil-container {
  transition: 0.2s;
  padding: 10%;
  padding-top: 150px;
}

@media screen and (max-width: 750px) {
  .odahil-container {
    transition: 0.2s;
  }
}

@media screen and (max-width: 750px) {
  .odahil-container {
    transition: 0.2s;
  }
}
