.tattoo-list-element {
  display: flex;
  width: 100%;
  background-color: $white;
  margin: 20px 0;
  color: $black;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.tattoo-list-element-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
  }
}

.tattoo-list-element-content {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tattoo-list-element-infos {
  font-size: 16px;
  width: 30%;
  min-width: 180px;
}

.tattoo-list-element-name {
  font-size: 20px;
  font-weight: 400;
}

.tattoo-list-element-onhomepage i {
  margin-top: 8px;
  font-size: 24px;
  padding: 4px;
  color: goldenrod;
}

.tattoo-list-element-actions {
  margin: 8px;
  a {
    color: $white;
  }
}

@media screen and (max-width: 740px) {
  .tattoo-list-element-image {
    width: 100px;
    min-width: 50px;
    height: 100px;
  }
  .tattoo-list-element-name {
  font-size: 16px;
  }
  .tattoo-list-element-content {
    padding: 8px;
    height: 100px;
  }
  .tattoo-list-element-infos {
    font-size: 12px;
    max-width: 100px;
    min-width: 150px;
  }
  .tattoo-list-element-description {
    display: none;
  }
  .tattoo-list-element-onhomepage i {
    font-size: 12px;
  }
  .tattoo-list-element-actions {
    margin: 0;
    a {
      margin: 2px;
    }
  }
}
