// ::-webkit-scrollbar {
//   width: 10px;
// }

// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.73);
//   border-radius: 10px;
// }

// ::-webkit-scrollbar-thumb {
//   background: rgba(240, 240, 240, 0.93);
//   box-shadow: inset 0 0 5px $black;
//   border-radius: 10px;
// }

// ::-webkit-scrollbar {
//   display: none;
// }
