.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  color: black !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  color: black !important;
}

.select2-results__options {
  color: black !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  transform: translateY(50px);
}

.select2-selection--multiple {
  background-color: gainsboro !important;
  width: 100% !important;
  max-height: 38px;
}
