.swiper-container {
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;
  z-index: 10;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-prev:after, .swiper-button-next:after {
  transform: translateY(50vh);
  opacity: 0.5;
}

.swiper-slide img {
  display: block;
  // width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --swiper-theme-color: $white !important;
}


.swiper-pagination {
  bottom: 85px !important;
}

.swiper-pagination-bullet {
    background: var(--swiper-pagination-bullet-inactive-color, $white) !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.7) !important;
}

@media screen and (max-width: 700px) {
  .swiper-button-prev:after, .swiper-button-next:after {
    display: none;
  }
}
