.tattoo-card-content {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 20px;
  justify-content: space-between;
  border-radius: 5px;
}

.tattoo-card-image {
  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    transition: 0.2s;
    border-radius: 5px;
    filter: grayscale(0.2);
  }
  img:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: grayscale(0);
    transition: 0.2s;
  }
}

#tattoo-list-picture {
  position: relative;
}

#lines {
  width: 230px;
  height: 230px;
  transform: translate(10px, 10px);
  border: 2px solid rgba(0, 0, 0, 0.295);
  position: absolute;
}
